{
    "printWidth": 120,
    "tabWidth": 2,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "singleAttributePerLine": true

}